---
layout: page
title: 'about'
---

<div class='profile-pic'>
  <img src="{{ site.baseurl }}/assets/images/obidos.jpeg" id='circular' alt='jinyoung standing in a portuguese field'>
</div>

<h3 id="hey-there-" style="font-weight: bold">Hey there!</h3>
<h4 id="my-name-is-jin-young-and-i-like-to-write-to-materialise-my-evolving-thoughts-on-life-s-journey-">I'm Jin Young, and I like to write to materialise my evolving thoughts on my life's journey.</h4>
<p>I try to seek new ideas and engage with them intentionally. Building on that principle, <a href="https://jinyoung.xyz/">jinyoung.xyz</a> is a medium on which I share my recent endeavours and hope to live more consciously through writing. </p>
<p>Some things that excite me are <a href="https://drive.google.com/file/d/10a9ImyTnR5JpQnXfmfbHRdsh_YtESudX/view?usp=sharing" target="_blank">development economics</a>, <a href="https://www.youtube.com/watch?v=41O5mTJ_tnU&t=15s&ab_channel=Anacaf%C3%A9Guatemala" target="_blank">social entrepreneurship</a>, and <a href="https://photos.app.goo.gl/hkPXfnE5pRPrT59P6" target="_blank">conservation</a>. I'm also quadrilingual and enjoy talking to strangers, on the internet and otherwise. :)</p>
<p>Best way to reach out to me is via <a href="mailto:jinyoungchoi@protonmail.com" target="_blank">email</a>, and <a href="https://jinyoungch0i.github.io/dev/">&lt;/&gt;</a> is my creative outlet.</p>
